$blue: #1759FF;
$yellow: #FFC300;
$grey: #f0f0f0;

.menu {
    img {
        margin: 14% 0;
        position: relative;
        left: 25%;
        width: 50%;
        filter: contrast(200%) saturate(0%) brightness(1000%);
    }
    background-color: $blue;
}