$blue: #1759FF;
$yellow: #FFC300;
$grey: #f0f0f0;

#dash{
    max-height: 100vh;
    .carousel {
        .charts {
            background-color: white;
            border-radius: 15px;
            box-shadow: 5px 6px 11px 2px rgba(0, 0, 0, 0.24);
        }
    }
}